#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// #define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
// #define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <dt-bindings/zmk/pointing.h>

#define DEFAULT     0
#define FN          1
#define NUM         2
#define SYSCTRL     3
#define MOUSE       4
#define MATH        5
#define MATH_C      6
#define UMLAUT      7
#define UMLAUT_C    8
#define CAMEL_CASE  9
#define SNAKE_CASE  10

#define INDEX_RCTRL 63
#define INDEX_LSHIFT 65
#define INDEX_LALT 66

#define TAP_MS 10
#define WAIT_MS 10
#define TIMEOUT_MS 120

// QWERTY ///////////////

// #define INDEX_U 23
// #define INDEX_O 25
// #define INDEX_S 31
// #define INDEX_A 29

// QWERTY ///////////////

// // COLEMAK-DH ///////////
// #define INDEX_U 24
// #define INDEX_O 40
// #define INDEX_S 31
// #define INDEX_A 29
// // COLEMAK-DH ///////////

// carpalx: outputs-everythin_colemakstart //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
#define INDEX_BRACK_L 15
#define INDEX_Q 16
#define INDEX_P 17
#define INDEX_L 18
#define INDEX_M 19
#define INDEX_U 22
#define INDEX_B 23
#define INDEX_O 24
#define INDEX_V 25
#define INDEX_BRACK_R 26
#define INDEX_D 29
#define INDEX_S 30
#define INDEX_T 31
#define INDEX_R 32
#define INDEX_N 33
#define INDEX_A 36
#define INDEX_I 37
#define INDEX_E 38
#define INDEX_C 39
#define INDEX_F 40
#define INDEX_H 41
#define INDEX_J 44
#define INDEX_G 45
#define INDEX_K 46
#define INDEX_Z 47
#define INDEX_W 48
#define INDEX_X 49
#define INDEX_Y 50
// carpalx: outputs-everythin_colemakstart //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/ {

    macros{

        ZMK_MACRO(linux_unicode_enter,
        bindings =  <&macro_press &kp LCTRL &kp LSHIFT &kp U>,
                    <&macro_release &kp LCTRL &kp LSHIFT &kp U>;
        )

        ZMK_MACRO(alpha_s,
            bindings = <&kp N3 &kp B &kp N1 &kp ENTER >;
        )

        ZMK_MACRO(beta_s,
            bindings = <&kp N3 &kp B &kp N2 &kp ENTER >;
        )

        ZMK_MACRO(gamma_s,
            bindings = <&kp N3 &kp B &kp N3 &kp ENTER >;
        )

        ZMK_MACRO(delta_c,
            bindings = <&kp N3 &kp N9 &kp N4 &kp ENTER >;
        )

        ZMK_MACRO(epsilon_s,
            bindings = <&kp N3 &kp B &kp N5 &kp ENTER >;
        )

        ZMK_MACRO(element_of,
            bindings = <&kp N2 &kp N2 &kp N0 &kp N8 &kp ENTER >;
        )

        ZMK_MACRO(not_element_of,
            bindings = <&kp N2 &kp N2 &kp N0 &kp N9 &kp ENTER >;
        )

        ZMK_MACRO(there_exists,
            bindings = <&kp N2 &kp N2 &kp N0 &kp N3 &kp ENTER >;
        )

        ZMK_MACRO(there_n_exists,
            bindings = <&kp N2 &kp N2 &kp N0 &kp N4 &kp ENTER >;
        )

        ZMK_MACRO(theta_s,
            bindings = <&kp N3 &kp B &kp N8 &kp ENTER >;
        )

        ZMK_MACRO(kappa_s,
            bindings = <&kp N3 &kp B &kp A &kp ENTER >;
        )

        ZMK_MACRO(lambda_c,
            bindings = <&kp N3 &kp N9 &kp B &kp ENTER >;
        )

        ZMK_MACRO(lambda_s,
            bindings = <&kp N3 &kp B &kp B &kp ENTER >;
        )

        ZMK_MACRO(mu_s,
            bindings = <&kp N3 &kp B &kp C &kp ENTER >;
        )

        ZMK_MACRO(nu_s,
            bindings = <&kp N3 &kp B &kp D &kp ENTER >;
        )

        ZMK_MACRO(pi_s,
            bindings = <&kp N3 &kp C &kp N0 &kp ENTER >;
        )

        ZMK_MACRO(rho_s,
            bindings = <&kp N3 &kp C &kp N1 &kp ENTER >;
        )

        ZMK_MACRO(sigma_s,
            bindings = <&kp N3 &kp C &kp N3 &kp ENTER >;
        )

        ZMK_MACRO(sigma_c,
            bindings = <&kp N3 &kp A &kp N3 &kp ENTER >;
        )

        ZMK_MACRO(tau_s,
            bindings = <&kp N3 &kp C &kp N4 &kp ENTER >;
        )

        ZMK_MACRO(phi_s,
            bindings = <&kp N3 &kp C &kp N6 &kp ENTER >;
        )

        ZMK_MACRO(phi_c,
            bindings = <&kp N3 &kp A &kp N6 &kp ENTER >;
        )

        ZMK_MACRO(psi_s,
            bindings = <&kp N3 &kp C &kp N8 &kp ENTER >;
        )

        ZMK_MACRO(omega_s,
            bindings = <&kp N3 &kp C &kp N9 &kp ENTER >;
        )

        ZMK_MACRO(omega_c,
            bindings = <&kp N3 &kp N8 &kp F &kp ENTER >;
        )

        ZMK_MACRO(logic_and,
            bindings = <&kp N2 &kp N2 &kp N2 &kp N7 &kp ENTER >;
        )

        ZMK_MACRO(logic_or,
            bindings = <&kp N2 &kp N2 &kp N2 &kp N8 &kp ENTER >;
        )

        ZMK_MACRO(math_brack_l,
            bindings = <&kp N2 &kp N7 &kp E &kp N6 &kp ENTER >;
        )

        ZMK_MACRO(math_brack_r,
            bindings = <&kp N2 &kp N7 &kp E &kp N7 &kp ENTER >;
        )

        ZMK_MACRO(for_all,
            bindings = <&kp N2 &kp N2 &kp N0 &kp N0 &kp ENTER >;
        )
        ZMK_MACRO(linux_for_all,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
            <&for_all>;
         )

        ZMK_MACRO(unicode_ue,
            bindings = <&kp F &kp C &kp ENTER>;
        )
        ZMK_MACRO(unicode_ae,
            bindings = <&kp E &kp N4 &kp ENTER>;
        )
        ZMK_MACRO(unicode_oe,
            bindings = <&kp F &kp N6 &kp ENTER>;
        )

        ZMK_MACRO(unicode_UE_shift,
            bindings = <&kp D &kp C &kp ENTER>;
        )
        ZMK_MACRO(unicode_AE_shift,
            bindings = <&kp C &kp N4 &kp ENTER>;
        )
        ZMK_MACRO(unicode_OE_shift,
            bindings = <&kp D &kp N6 &kp ENTER>;
        )

        ZMK_MACRO(unicode_sz,
            bindings = <&kp D &kp F &kp ENTER>;
        )
        ZMK_MACRO(linux_sz,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&unicode_sz>;
        )

        ZMK_MACRO(unicode_SZ_shift,
            bindings = <&kp N1 &kp E &kp N9 &kp E &kp ENTER>;
        )
        ZMK_MACRO(linux_SZ_shift,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&unicode_SZ_shift>;
        )

        ZMK_MACRO(linux_ue,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&unicode_ue>;
        )
        ZMK_MACRO(linux_ae,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings =  <&linux_unicode_enter >,
                        <&unicode_ae>;
        )
        ZMK_MACRO(linux_oe,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&unicode_oe>;
        )

        ZMK_MACRO(linux_UE_shift,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&unicode_UE_shift>;
        )
        ZMK_MACRO(linux_AE_shift,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings =  <&linux_unicode_enter >,
                        <&unicode_AE_shift>;
        )
        ZMK_MACRO(linux_OE_shift,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&unicode_OE_shift>;
        )

        ZMK_MACRO(linux_alpha_s,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&alpha_s>;
        )
        ZMK_MACRO(linux_beta_s,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&beta_s>;
        )
        ZMK_MACRO(linux_gamma_s,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&gamma_s>;
        )
        ZMK_MACRO(linux_delta_c,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&delta_c>;
        )
        ZMK_MACRO(linux_epsilon_s,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&epsilon_s>;
        )
        ZMK_MACRO(linux_element_of,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&element_of>;
        )
        ZMK_MACRO(linux_not_element_of,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&not_element_of>;
        )
        ZMK_MACRO(linux_there_exists,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&there_exists>;
        )
        ZMK_MACRO(linux_there_n_exists,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&there_n_exists>;
        )
        ZMK_MACRO(linux_theta_s,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&theta_s>;
        )
        ZMK_MACRO(linux_kappa_s,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&kappa_s>;
        )
        ZMK_MACRO(linux_lambda_s,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&lambda_s>;
        )
        ZMK_MACRO(linux_lambda_c,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&linux_lambda_c>;
        )

        ZMK_MACRO(linux_mu_s,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&mu_s>;
        )
        ZMK_MACRO(linux_nu_s,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&nu_s>;
        )
        ZMK_MACRO(linux_pi_s,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&pi_s>;
        )
        ZMK_MACRO(linux_rho_s,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&rho_s>;
        )
        ZMK_MACRO(linux_sigma_s,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&sigma_s>;
        )
        ZMK_MACRO(linux_sigma_c,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&sigma_c>;
        )
        ZMK_MACRO(linux_tau_s,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&tau_s>;
        )
        ZMK_MACRO(linux_phi_s,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&phi_s>;
        )
        ZMK_MACRO(linux_phi_c,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&phi_c>;
        )
        ZMK_MACRO(linux_psi_s,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&psi_s>;
        )
        ZMK_MACRO(linux_omega_s,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&omega_s>;
        )
        ZMK_MACRO(linux_omega_c,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&omega_c>;
        )
        ZMK_MACRO(linux_logic_and,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&logic_and>;
        )
        ZMK_MACRO(linux_logic_or,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&logic_or>;
        )
        ZMK_MACRO(linux_math_brack_l,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&math_brack_l>;
        )
        ZMK_MACRO(linux_math_brack_r,
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings = <&linux_unicode_enter >,
                       <&math_brack_r>;
        )


    };

    // combos{
    //     compatible = "zmk,combos";
    //     combo_ue {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_RCTRL INDEX_U>;
    //         bindings =  <&linux_ue>;
    //     };
    //     combo_ae {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_RCTRL INDEX_A>;
    //         bindings =  <&linux_ae>;
    //     };
    //     combo_sz {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_RCTRL INDEX_S>;
    //         bindings =  <&linux_sz>;
    //     };
    //     combo_oe {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_RCTRL INDEX_O>;
    //         bindings =  <&linux_oe>;
    //     };
    //     combo_UE_shift {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_RCTRL INDEX_U INDEX_LSHIFT>;
    //         bindings =  <&linux_UE_shift>;
    //     };
    //     combo_AE_shift {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_RCTRL INDEX_A INDEX_LSHIFT>;
    //         bindings =  <&linux_AE_shift>;
    //     };
    //     combo_OE_shift {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_RCTRL INDEX_O INDEX_LSHIFT>;
    //         bindings =  <&linux_OE_shift>;
    //     };
    //     combo_SZ_shift {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_RCTRL INDEX_O INDEX_LSHIFT>;
    //         bindings =  <&linux_SZ_shift>;
    //     };
    //     combo_alpha_s {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_A>;
    //         bindings =  <&linux_alpha_s>;
    //     };
    //     combo_beta_s {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_B>;
    //         bindings =  <&linux_beta_s>;
    //     };
    //     combo_gamma_s {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_G>;
    //         bindings =  <&linux_gamma_s>;
    //     };
    //     combo_delta_c {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_LSHIFT INDEX_D>;
    //         bindings =  <&linux_delta_c>;
    //     };
    //     combo_epsilon_s {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_E>;
    //         bindings =  <&linux_epsilon_s>;
    //     };
    //     combo_element_of {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_E INDEX_L>;
    //         bindings =  <&linux_element_of>;
    //     };
    //     combo_not_element_of {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_LSHIFT INDEX_E INDEX_L>;
    //         bindings =  <&linux_not_element_of>;
    //     };
    //     combo_there_exists {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_X>;
    //         bindings =  <&linux_there_exists>;
    //     };
    //     combo_there_n_exists {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_X INDEX_LSHIFT>;
    //         bindings =  <&linux_there_n_exists>;
    //     };
    //     combo_theta_s {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_O>;
    //         bindings =  <&linux_theta_s>;
    //     };
    //     combo_kappa_s {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_K>;
    //         bindings =  <&linux_kappa_s>;
    //     };
    //     combo_lambda_s {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_L>;
    //         bindings =  <&linux_lambda_s>;
    //     };  
    //     // somehow loops the unicode sequence forever
    //     combo_lambda_c {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_L INDEX_LSHIFT>;
    //         bindings =  <&linux_lambda_c>;
    //     };
    //     combo_mu_s {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_M>;
    //         bindings =  <&linux_mu_s>;
    //     };
    //     combo_nu_s {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_N>;
    //         bindings =  <&linux_nu_s>;
    //     };
    //     combo_pi_s { //doesn't work
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_P>;
    //         bindings =  <&linux_pi_s>;
    //     };
    //     combo_rho_s {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_R>;
    //         bindings =  <&linux_rho_s>;
    //     };
    //     combo_sigma_s {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_S>;
    //         bindings =  <&linux_sigma_s>;
    //     };
    //     combo_tau_s {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_T>;
    //         bindings =  <&linux_tau_s>;
    //     };
    //     // somehow not working
    //     combo_phi_s {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_P INDEX_H>;
    //         bindings =  <&linux_phi_s>;
    //     };
    //     combo_phi_c {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_P INDEX_H INDEX_LSHIFT>;
    //         bindings =  <&linux_phi_c>;
    //     };
    //     combo_psi_s {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_P INDEX_S>;
    //         bindings =  <&linux_psi_s>;
    //     };
    //     combo_omega_s {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_W>;
    //         bindings =  <&linux_omega_s>;
    //     };
    //     combo_omega_c {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_W INDEX_LSHIFT>;
    //         bindings =  <&linux_omega_c>;
    //     };
    //     combo_logic_and {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_L INDEX_A>;
    //         bindings =  <&linux_logic_and>;
    //     };
    //     combo_logic_or {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_L INDEX_O>;
    //         bindings =  <&linux_logic_or>;
    //     };
    //     combo_math_brack_l {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_BRACK_L>;
    //         bindings =  <&linux_math_brack_l>;
    //     };
    //     combo_math_brack_r {
    //         timeout-ms = <TIMEOUT_MS>;
    //         key-positions = <INDEX_LALT INDEX_BRACK_R>;
    //         bindings =  <&linux_math_brack_r>;
    //     };
    // };

    behaviors {
        lt: layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&kp>;
            display-name = "Layer-Tap";
        };
    };

    keymap {
        compatible = "zmk,keymap";

// // QWERTY //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//         default_layer {
//             bindings = <
// &kp GRAVE   &kp N2     &kp N3    &kp N4     &kp N5     &kp N6       &kp HOME                            &kp PSCRN       &kp N7     &kp N8     &kp N9     &kp N0     &kp MINUS      &kp EQUAL
// &kp N1      &kp Q      &kp W     &kp E      &kp R      &kp T        &kp INSERT                          &kp PAGE_UP     &kp Y      &kp U      &kp I      &kp O      &kp P          &kp BSLH
// &kp TAB     &kp A      &kp S     &kp D      &kp F      &kp G        &kp END                             &kp PAGE_DOWN   &kp H      &kp J      &kp K      &kp L      &kp SEMICOLON  &kp APOSTROPHE
// &kp ESC     &kp Z      &kp X     &kp C      &kp V      &kp B                                                            &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH       &kp BSPC
//                        &tog NUM  &kp P                                                                                                        &kp LBKT   &kp RBKT
//                                             &kp ENTER    &kp SPACE   &kp LCTRL                          &tog FN &kp CAPS        &kp RCTRL
//                                             &kp LWIN     &kp LSHIFT  &kp LALT                           &kp DEL &kp RSHIFT      &kp RWIN
//             >;
//         };
// // QWERTY //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// // COLEMAK-DH //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//         default_layer {
//             bindings = <
// &kp GRAVE   &kp N2     &kp N3    &kp N4     &kp N5     &kp N6       &kp HOME                            &kp PAGE_UP     &kp N7     &kp N8     &kp N9     &kp N0     &kp MINUS      &kp EQUAL
// &kp N1      &kp Q      &kp W     &kp F      &kp P      &kp B        &kp INSERT                          &kp PSCRN       &kp J      &kp L      &kp U      &kp Y      &kp SEMICOLON  &kp BSLH
// &kp TAB     &kp A      &kp R     &kp S      &kp T      &kp G        &kp END                             &kp PAGE_DOWN   &kp M      &kp N      &kp E      &kp I      &kp O          &kp APOSTROPHE
// &kp ESC     &kp Z      &kp X     &kp C      &kp D      &kp V                                                            &kp K      &kp H      &kp COMMA  &kp DOT    &kp FSLH       &kp BSPC
//                        &tog NUM  &kp P                                                                                                        &kp LBKT   &kp RBKT
//                                             &lt COLEMAK_ARROWS ENTER  &kp SPACE    &kp LCTRL                           &tog FN         &kp CAPS   &kp RCTRL
//                                             &kp LWIN   &kp LSHIFT   &kp LALT                            &kp DEL         &kp RSHIFT &kp RWIN
//             >;
//         };
// // COLEMAK-DH //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// carpalx: outputs-everythin_colemakstart //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        default_layer {
            bindings = <
&kp N2  &kp N3      &kp N4      &kp GRAVE   &kp FSLH    &kp N5      &kp HOME                                &kp PAGE_UP             &kp N6      &kp COMMA   &kp SEMICOLON   &kp N7      &kp N8      &kp N9
&kp N1  &kp LBKT    &kp Q       &kp P       &kp L       &kp M       &lt MATH INSERT                         &lt MATH PSCRN          &kp U       &kp B       &kp O           &kp V       &kp RBKT    &kp N0
&kp TAB &kp D       &kp S       &kp T       &kp R       &kp N       &lt UMLAUT END                          &lt UMLAUT PAGE_DOWN    &kp A       &kp I       &kp E           &kp C       &kp F       &kp H    
&kp ESC &kp MINUS   &kp J       &kp G       &kp K       &kp Z                                                                       &kp W       &kp X       &kp Y           &kp EQUAL   &kp BSLH    &kp BSPC
                    &tog NUM    &lt MOUSE P                                                                                                                 &kp DOT         &kp APOSTROPHE
                                            &kp ENTER   &kp SPACE   &kp LCTRL                               &tog FN                 &kp CAPS    &kp RCTRL
                                            &kp LWIN    &kp LSHIFT  &kp LALT                                &kp DEL                 &kp RSHIFT  &kp RWIN
            >;
        };
// carpalx: outputs-everythin_colemakstart //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        fn{
            bindings = <
&kp F2          &kp F3          &kp F4      &trans          &trans      &kp F5  &bt BT_SEL 0                                    &bt BT_SEL 3  &kp F6    &trans    &trans          &kp F7         &kp F8  &kp F9
&kp F1          &trans          &trans      &kp UP          &trans      &trans  &bt BT_SEL 1                                    &bt BT_SEL 4  &trans    &trans    &trans          &trans         &trans  &kp F10
&trans          &trans          &kp LEFT    &kp DOWN        &kp RIGHT   &trans  &bt BT_SEL 2                                    &trans        &trans    &trans    &trans          &to CAMEL_CASE &trans  &kp F11
&sl sysctrl     &to SNAKE_CASE  &trans      &trans          &trans      &trans                                                                &trans    &trans    &out OUT_BLE    &out OUT_USB   &trans  &kp F12
                                &trans      &trans                                                                                                      &trans          &trans
                                                            &trans      &trans  &trans                                          &trans        &trans    &trans
                                                            &trans      &trans  &trans                                          &trans        &trans    &trans
            >;
        };

        num{
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans                      &trans  &trans  &kp KP_NUM  &kp KP_SLASH  &kp KP_ASTERISK    &kp KP_MINUS    &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                      &trans  &trans  &kp KP_N7   &kp KP_N8     &kp KP_N9          &kp KP_PLUS     &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                      &trans  &trans  &kp KP_N4   &kp KP_N5     &kp KP_N6          &trans          &trans
&trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &kp KP_N1   &kp KP_N2     &kp KP_N3          &trans          &trans
        &trans  &trans                                                                                  &kp KP_N0     &kp KP_DOT
                                &trans  &trans  &trans                      &trans  &trans  &trans
                                &trans  &trans  &trans                      &trans  &trans  &trans
            >;
        };

        sysctrl{
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &bootloader                 &trans  &trans  &trans      &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans      &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans      &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans      &trans  &trans  &trans  &trans
                        &trans  &trans                                                      &bt BT_CLR  &trans
                                        &trans  &trans  &trans      &trans  &trans  &trans
                                        &trans  &trans  &trans      &trans  &trans  &trans
            >;
        };

        mouse{
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans       &trans  &trans         &trans          &trans          &trans          &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans       &trans  &trans         &mkp MB1        &mkp MB2        &trans          &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans       &trans  &mmv MOVE_LEFT &mmv MOVE_DOWN  &mmv MOVE_UP    &mmv MOVE_RIGHT &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                       &trans         &trans          &trans          &trans          &trans  &trans
                &trans  &trans                                                                      &trans          &trans
                                &trans  &trans  &trans       &trans  &trans         &trans
                                &trans  &trans  &trans       &trans  &trans         &trans
            >;
        };


        math{
            bindings = <
&trans  &trans              &trans          &trans          &trans          &trans          &trans                  &trans  &trans              &trans                  &trans                  &trans          &trans              &trans
&trans  &linux_math_brack_l &linux_pi_s     &trans          &linux_lambda_s &linux_mu_s     &trans                  &trans  &linux_logic_or     &linux_beta_s           &linux_element_of       &linux_phi_s    &linux_math_brack_r &trans
&trans  &trans              &linux_sigma_s  &linux_tau_s    &linux_rho_s    &linux_nu_s     &trans                  &trans  &linux_alpha_s      &trans                  &linux_epsilon_s        &linux_gamma_s  &trans              &linux_theta_s
&trans  &trans              &trans          &trans          &linux_kappa_s  &linux_omega_s                                  &trans              &linux_there_exists     &linux_psi_s            &trans          &trans              &trans
                            &trans          &trans                                                                                                                      &trans                  &trans
                                                            &trans          &trans          &trans                  &trans  &trans              &trans
                                                            &trans          &lt MATH_C      &trans                  &trans  &trans              &trans
            >;
        };



        math_c{
            bindings = <
&trans  &trans              &trans          &trans          &trans          &trans          &trans                  &trans  &trans              &trans                  &trans                  &trans          &trans              &trans
&trans  &trans              &trans          &trans          &linux_lambda_c &trans          &trans                  &trans  &linux_logic_and    &trans                  &linux_not_element_of   &linux_phi_c    &trans              &trans
&trans  &linux_delta_c      &linux_sigma_c  &trans          &trans          &trans          &trans                  &trans  &linux_for_all      &trans                  &trans                  &trans          &trans              &trans
&trans  &trans              &trans          &trans          &trans          &linux_omega_c                                  &trans              &linux_there_n_exists   &trans                  &trans          &trans              &trans
                            &trans          &trans                                                                                                                  &trans                  &trans
                                                            &trans          &trans          &trans                  &trans  &trans              &trans
                                                            &trans          &lt MATH_C      &trans                  &trans  &trans              &trans
            >;
        };


        umlaut{
            bindings = <
&trans  &trans  &trans      &trans  &trans  &trans  &trans              &trans  &trans      &trans  &trans      &trans  &trans  &trans
&trans  &trans  &trans      &trans  &trans  &trans  &trans              &trans  &linux_ue   &trans  &linux_oe   &trans  &trans  &trans
&trans  &trans  &linux_sz   &trans  &trans  &trans  &trans              &trans  &linux_ae   &trans  &trans      &trans  &trans  &trans
&trans  &trans  &trans      &trans  &trans  &trans                              &trans      &trans  &trans      &trans  &trans  &trans
                &trans      &trans                                                                  &trans      &trans
                                    &trans  &trans  &trans              &trans  &trans      &trans
                                    &trans  &trans  &trans              &trans  &trans      &trans
            >;
        };

        umlaut_c{
            bindings = <
&trans  &trans  &trans              &trans  &trans  &trans  &trans              &trans  &trans          &trans  &trans          &trans  &trans  &trans
&trans  &trans  &trans              &trans  &trans  &trans  &trans              &trans  &linux_UE_shift &trans  &linux_OE_shift &trans  &trans  &trans
&trans  &trans  &linux_SZ_shift     &trans  &trans  &trans  &trans              &trans  &linux_AE_shift &trans  &trans          &trans  &trans  &trans
&trans  &trans  &trans              &trans  &trans  &trans                              &trans          &trans  &trans          &trans  &trans  &trans
                &trans              &trans                                                                      &trans          &trans
                                            &trans  &trans  &trans              &trans  &trans          &trans
                                            &trans  &trans  &trans              &trans  &trans          &trans
            >;
        };
        
         camel_case{
             bindings = <
 &trans  &trans  &trans  &trans  &trans  &trans     &trans      &trans      &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans     &trans      &trans      &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans     &trans      &trans      &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans                             &trans  &trans  &trans  &trans  &trans  &trans
                 &trans  &trans                                                     &trans  &trans
                                 &trans  &sk LSHIFT &trans      &to DEFAULT  &trans &trans
                                 &trans  &trans     &trans      &trans      &trans  &trans
             >;
         };
         snake_case{
             bindings = <
 &trans  &trans  &trans  &trans  &trans  &trans         &trans          &trans      &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans         &trans          &trans      &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans         &trans          &trans      &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans                                     &trans  &trans  &trans  &trans  &trans  &trans
                 &trans  &trans                                                                     &trans  &trans
                                 &trans  &kp UNDERSCORE &trans          &to DEFAULT &trans  &trans
                                 &trans  &trans         &trans          &trans      &trans  &trans
             >;
         };

//         FN{
//             bindings = <
// &trans  &trans  &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans  &trans
// &trans  &trans  &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans  &trans
// &trans  &trans  &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans  &trans
// &trans  &trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans  &trans
//                 &trans  &trans                                                       &trans  &trans
//                                 &trans  &trans  &trans       &trans  &trans  &trans
//                                 &trans  &trans  &trans       &trans  &trans  &trans
//             >;
//         };



   };
};
