if SHIELD_DAC_MAN_5X6_LEFT

config ZMK_KEYBOARD_NAME
    default "Dac-Man-5x6-L"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_DAC_MAN_5X6_RIGHT

config ZMK_KEYBOARD_NAME
    default "Dac-Man-5x6-R"

endif

if SHIELD_DAC_MAN_5X6_LEFT || SHIELD_DAC_MAN_5X6_RIGHT

config ZMK_SPLIT
    default y
endif

config ZMK_UNICODE_TAP_MS
    int "Time to wait (in milliseconds) between the press and release of each key in the unicode sequence."
    default 10


config ZMK_UNICODE_WAIT_MS
    int "Time to wait (in milliseconds) between unicode tapping keys in the unicode sequence."
    default 100
